/* Navbar container */
body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #eee;
  padding: 12px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Segoe UI", sans-serif;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  z-index: 1000;
}

/* Logo */
.logo {
  font-size: 20px;
  font-weight: bold;
  color: #2563eb;
  text-decoration: none;
  transition: color 0.3s;
}
.logo-pic {
    width: 90px;
    height: 40px;
    border-radius: 50%;
}
.logo:hover {
  color: #1e40af;
}

/* Nav links */
.nav-links {
  display: flex;
  gap: 26px;
  align-items: center;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #2563eb;
}

/* Signup button */
.signup-btn {
  background: #2563eb;
  color: #fff !important;
  padding: 6px 14px;
  margin-right: 50px;
  border-radius: 6px;
  transition: background 0.3s;
}

.signup-btn:hover {
  background: #1e40af;
}

/* Logout button */
.logout-btn {
  background: #ef4444;
  color: #fff;
  padding: 6px 14px;
  border: none;
  margin-right: 50px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;
}

.logout-btn:hover {
  background: #b91c1c;
}


